#content_list{
  margin:0 auto;
  min-width:900px;
  width:80%;
}

.content_900{
  margin:0 auto;
  width:900px;
}

.content_870{
  margin:0 auto;
  width:870px;
}

.content_840{
  margin:0 auto;
  width:840px;
}

.content_740{
  margin:0 auto;
  width:740px;
}

.content_610{
  text-align:left;
  width:610px;
}

.content_200{
  text-align:center;
  width:200px;
}

.content_spacer{
  clear:both;
  height:0;
  padding-top:1.2em;
  padding-bottom:1.2em;
}

.table_spacer{
  height:2.4em;
}
