.modal_bg{
  height:150%;
  left:0;
  opacity:.8;
  position:fixed;
  top:0;
  width:150%;
  z-index:1500;
}

.modal_bg_black{ @extend .modal_bg;
  background-color:#000000;
}

.modal_bg_white{ @extend .modal_bg;
  background-color:#ffffff;
}
