.preview_bg{
  background-color:#323232;
  box-shadow:$shadow_small;
  display:inline-block;
  min-height:11.75em;
  min-width:11.75em;
  position:relative;
}

.background_preview_bg{
  background-color:#323232;
  box-shadow:$shadow_small;
  height:145px;
  overflow:hidden;
  position:relative;
  text-align:center;
  width:560px;
}

.background_preview{
  max-height:145px;
  max-width:550px;
}

.background_preview_color{
  background-color:#646464;
  height:145px;
  margin-right:.8em;
  position:relative;
  width:145px;
}
