.tab{ @extend .glow;
  -moz-user-select:none;
  -o-user-select:none;
  -webkit-user-select:none;
  background:#c8c8c8;
  border-color:#646464;
  border-style:solid;
  border-top-left-radius:.4em;
  border-top-right-radius:.4em;
  border-width:.1em 1px 0 1px;
  box-shadow:$shadow_small;
  color:#323232;
  cursor:pointer;
  margin-right:.4em;
  padding-left:.8em;
  padding-right:.8em;
  user-select:none;
}

.tab_selected{ @extend .tab;
  background:#e6e6e6;

  &:hover{
    box-shadow:none;
    cursor:default;
    border-color:#646464;
  }
}

.tab_body{
  background:#e6e6e6;
  background:-moz-linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  background:-ms-linear-gradient(top, #e6e6e6 0%,#c8c8c8 100%);
  background:-o-linear-gradient(top, #e6e6e6 0%,#c8c8c8 100%);
  background:-webkit-linear-gradient(top, #e6e6e6 0%,#c8c8c8 100%);
  background:linear-gradient(top, #e6e6e6 0%,#c8c8c8 100%);
  border-color:#646464;
  border-radius:0 .4em .4em .4em;
  border-style:solid;
  border-width:0 1px 1px 1px;
  box-shadow:$shadow_small;
  color:#323232;
  display:none;
  margin:-1px;
  margin:0 auto;
  padding:1.6em;
  text-align:left;
  width:100%;
  
  textarea{
    resize:none;
  }
  
}

.tab_body_selected{
  display:table;
}

.tab_body_sidebar{
  color:#323232;
  display:none;
  margin:0 auto;
  text-align:left;
}

.tab_textarea{
  height:135px;
  width:848px;
}

.eztab_container{
  margin:0;
  padding:0;
  text-align:left;
}

.eztab{ @extend .glow;
  -moz-user-select:none;
  -o-user-select:none;
  -webkit-user-select:none;
  background:#C8C8C8;
  border-color:#646464;
  border-style:solid;
  border-top-left-radius:.4em;
  border-top-right-radius:.4em;
  border-width:.1em 1px 0 1px;
  box-shadow:$shadow_small;
  color:#323232;
  cursor:pointer;
  display:inline-block;
  padding:0;
  user-select:none;
  
  a{
    color:#323232;
    display:block;
    padding-left:.8em;
    padding-right:.8em;
  }
  
  &.active{
    background:#e6e6e6;
    position:relative;
    
    &:hover{
      box-shadow:$shadow_small;
      border-color:#646464;
    }
    
  }
  
}

.eztab_body_container{
  background:#e6e6e6;
  background:-moz-linear-gradient(top, #e6e6e6 0%, #c8c8c8 100%);
  background:-ms-linear-gradient(top, #e6e6e6 0%,#c8c8c8 100%);
  background:-o-linear-gradient(top, #e6e6e6 0%,#c8c8c8 100%);
  background:-webkit-linear-gradient(top, #e6e6e6 0%,#c8c8c8 100%);
  background:linear-gradient(top, #e6e6e6 0%,#c8c8c8 100%);
  border-color:#646464;
  border-radius:0 .4em .4em .4em;
  border-style:solid;
  border-width:0 1px 1px 1px;
  box-shadow:$shadow_small;
  padding:20px;
  position:relative;
  text-align:left;
}
